
* {
	margin: 0;
	padding: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');


$color-dark: #282a36;
$color-primary: rgb(17, 16, 16);

$color_menu_top: rgb(17, 16, 16);

$color-green: rgb(0, 232, 104);
$color-purple: rgb(113, 89, 193);
$color-form: rgb(25, 24, 31);
$color-white: rgb(248, 248, 242);

//hover scheme colors
$hover_btn_primary: rgb(96, 72, 175);
$hover_link_a: rgb(214, 214, 212);

$light: 300;
$semibold: 500;
$normal: 400;
$bold: 700;

$bp-largest: 120rem;     
$bp-large: 1024px;   
$bp-medium: 76.8rem;  
$bp-small: 48rem;    
$bp-smallest: 32rem; 

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-smallest) {
        font-size: 50%;
    }
}


body {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: url(../svg/space1.svg) center bottom repeat-x, rgb(11, 10, 13);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.no-scroll { overflow: hidden; }
