
* {
	margin: 0;
	padding: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');


$color-dark: #3d3d3d;
$color-primary: #1E88E5;

$light: 300;
$semibold: 500;
$normal: 400;
$bold: 700;

$bp-largest: 120rem;     
$bp-large: 1024px;   
$bp-medium: 76.8rem;  
$bp-small: 48rem;    
$bp-smallest: 32rem; 

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-smallest) {
        font-size: 50%;
    } 

}


body {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
    

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.no-scroll { overflow: hidden; }
