
.container {
	max-width: 120rem;
	margin: 0 auto;

}

.site-header {
	height: 8rem;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: all 0.4s ease;	
	color: #fff;	

	&__wrapper {
		max-width: 120rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 100%;		
	}

	&__btn-mobile {
		background-color: transparent;
		border: 1px solid transparent;
		padding: 0 2rem;

	}

	&__burger-icon {
		transform: rotate(180deg);
		fill: #fff;
		display: block;
		width: 2.2rem;
		height: 2.2rem;

	 @media only screen and (min-width: $bp-large) {
		display: none;
	 }		

		&--dark {
			rect {
				fill: #3d3d3d;
			}
		}
	}

	&__link {
		display: block;
	}

	&__brand {
		@media only screen and (max-width: $bp-medium) {
			padding: 0 2rem;
		}
	}

	&__logo {
		width: 4rem;
	}	

	&__spacer {
		flex: 1;
	}


	&--sticky {
		position: fixed;
		
		background-color: #fff; 
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
		color: #3d3d3d;
		
	}	


}

.site-nav {

	display: none;

	 @media only screen and (min-width: $bp-large) {
		display: flex;
	 }	

	&__list {

		&:not(:last-child) {
			margin-right: 3rem;
		}
		
	}

	&__link {
		
		font-size: 1.6rem;
		color: inherit;

		&:hover {
			color: $color-primary;
		}

		&--active {
			color: $color-primary;
		}
	}
}

.site-main {
   padding-bottom: 5rem;
}


.site-intro {
	background-image: linear-gradient(120deg,#7054ff,#2669ff);	
	height: 95vh;
	color: #fff;

	@media only screen and (max-width: $bp-medium) {
		height: 100vh;
	}

	&::after {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: block;
	    width: 100%;
	    height: 100%;
	    opacity: .7;
	    mix-blend-mode: soft-light;
	    background-image: -webkit-linear-gradient(330deg,#7054ff,rgba(0,0,0,0));		
	}

	&--with-clipmask {
		clip-path: polygon(72% 0, 100% 0, 100% 88%, 28% 100%, 0 88%, 0 0);
		padding-bottom: 3rem;

		@media only screen and (max-width: $bp-medium) {
			clip-path: none;
		}
	}


	&__canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		height: 100vh;
	 	@media only screen and (max-width: $bp-medium) {
			 flex-direction: column-reverse;
			 justify-content: center;
	 	}		
	}

	&__main {
		position: relative;
		width: 60%;

		@media only screen and (max-width: $bp-medium) {
			width: 100%;
			padding: 0 3rem;
			text-align: center;
			z-index: 1;
		}
	}

	&__intro {
		position: absolute;
		top: 30%;
		left: 0;
		padding: 2rem 0;
		z-index: 2;

		@media only screen and (max-width: $bp-medium) {
			position: static;
		}
	}

	&__logo-wrapper {
		padding: 2em 3rem;
		flex: 1;
		@media only screen and (max-width: $bp-medium) {
			  text-align: center;
			  width: 100%;
			  padding: 0;
			  flex: none;
		}	
	}

	&__logo {
		width: 20rem;
		position: absolute;
		top: 30%;
		@media only screen and (max-width: $bp-medium) {		
			position: static;
			width: 15rem;
		}
	}

	&__name {
		font-weight: $light;
		font-size: 3rem;
		@media only screen and (max-width: $bp-medium) {	
			line-height: 3.5rem;
    		margin-bottom: 2rem;
    	}
	}
	
	&__heading {
		font-size: 4rem;
		padding: 0.5rem 0;
		line-height: 4rem;
		font-weight: $semibold;
	}


	&__primary {
		font-size: 3rem;
		font-weight: $normal;

		@media only screen and (max-width: $bp-medium) {
	    	line-height: 3.5rem;
	    	margin-top: 2rem;
		}	
	}

	&__action {
		padding: 4rem 0;
		text-align: center;
	}



}

.site-standard {
	padding: 5rem 0;
}

.site-heading {
	font-size: 4rem;
	font-weight: $normal;
	padding-bottom: 1.5rem;
	color: #444444;
	white-space: nowrap;

	@media only screen and (max-width: $bp-medium) {
		font-size: 3rem;
	}
}


.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.col-4 {
	max-width: 33.33%;	
	flex-basis: 33.33%;
	padding: 0 15px;
	margin-bottom: 30px;

	@media only screen and (max-width: $bp-medium) {
		max-width: 100%;
		flex-basis: 100%;
	}	
}

.col-2 {
	max-width: 16.66%;	
	flex-basis: 16.66%;
	padding: 0 15px;
	margin-bottom: 30px;

	@media only screen and (max-width: $bp-medium) {
		max-width: 33.33%;
		flex-basis: 33.33%;
	}

	@media only screen and (max-width: $bp-small) {
		max-width: 50%;
		flex-basis: 50%;
	}

		
}

.col-6 {
	max-width: 50%;
	flex-basis: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
	@media only screen and (max-width: $bp-medium) {
		max-width: 100%;
		flex-basis: 100%;
	}		
}

.col-12 {
	max-width: 100%;
	flex-basis: 100%;
	padding: 0 15px;
	margin-bottom: 30px;	
}

.site-project {
	overflow: hidden;	
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);


	&:hover {

		.site-project__overlay {
			opacity: 1;
		}
	}

	&__cover {
		width: 100%;
		position: relative;
		padding-bottom: 66.66%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(120deg, #7054ff,#2669ff);	
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: all 0.3s ease-in-out;
		opacity: 0;
	}

	&__info {
		color: #fff;
		padding: 0 2rem;
	}

	&__title {
		font-size: 2.5rem;
		font-weight: $semibold;
		margin-bottom: 3rem;
		line-height: 3rem;
	}

	&__name {
	 line-height: 2.4rem;
	  padding: 2rem 0;
	  font-size: 2rem;
	  cursor: pointer;
	}

}

.project-info {

	&__cover {
		position: relative;
		padding-bottom: 100%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__title {
		font-size: 3rem;
		font-weight: $semibold;
		line-height: 3rem
	}	

	&__desc {
		font-size: 1.8rem;
		padding: 1rem 0;
		line-height: 2.2rem;
		padding: 2.5rem 0;
	}

	&__heading {
		font-size: 1.7rem;
		font-weight: $bold;
	}

	&__tech {

		li {
			font-size: 1.6rem;
		}
	}

	&__action {
		display: block;
		padding: 2rem 0;

		a {
			&:not(:last-child){
				margin-right: 1rem;
			}
		}
	}
}


.site-section {
	margin: 3rem 0;	
	padding: 3rem 0;

	@media only screen and (max-width: $bp-medium) {
		padding: 3rem;
	}	
	&--with-clipmask {
		clip-path: polygon(72% 0, 100% 12%, 100% 100%, 100% 100%, 0 100%, 0 18%);
	}

	&--with-background {
		background-color: $color-primary;
	}	


	
	
	&__icon {
		fill: none;
		stroke: #444444;
		stroke-width: 5px; 

		svg {
			width: 50px;
		}
	}	
}

.site-skill {
	position: relative;
	width: 100%;
	text-align: center;

	&__canvas {
		width: 60%;

		@media only screen and (max-width: $bp-smallest) {
			width: 60%;
		}
	}	

	&__canvas-wrapper {
		position: relative;
	}

	&__percentage {
		color: $color-dark;
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__text {
		margin-top: 1.5rem;
		font-size: 2rem;
		font-weight: $semibold;
		color: #535b6b;
		line-height: 3rem;
	}
}

.stepper {
	padding: 2rem 0;

	&__list {

	}

	&__item {
		display: flex;
		flex-wrap: wrap;
	}

	&__step {
		width: 33.33%;	
		@media only screen and (max-width: $bp-medium) {
			display: none
		}	
	}

	&__circle {
		width: 2.2rem;
		height: 2.2rem;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -8px;
		z-index: 1;
		background-color: $color-primary;
		border: 4px solid #fff;  
		border-radius: 50%;
	}

	&__timeline {
		height: 100%;
		width: 100%;
		position: relative;

		&::before {
		  content: "";
		  position: absolute;
		  width: 5px;
		  height: 100%;
		  background-color: #fff;				  
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 100%;
			height: 5px;
			background-color: #fff;	
		}
	}

	&__info {
		width: 66.67%;
		padding: 0 3rem;
		@media only screen and (max-width: $bp-medium) {
			width: 100%;
			padding: 0;
		}
	}

	&__body {
		position: relative;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #eee;
		width: 100%;
		padding: 1rem;
		margin-bottom: 2rem;
		height: 12rem;
		@media only screen and (max-width: $bp-medium) {
			height: auto;
		}	
	}

	&__title {
		font-size: 2rem;
		color: $color-dark; 	
	}

	&__sub{
		padding-top: 1rem;
		font-size: 1.5rem;
	}

	&__timeline-heading {
		font-size: 1.8rem;
		font-weight: $semibold;
		color: #fff;
		position: absolute;
		left: 2rem;
		top: 4rem;
	}
}

.site-form {
	width: 70rem;
	margin: 0 auto;

	@media only screen and (max-width: $bp-medium) {
		width: 100%;
	}

	&__error {
		color: #ec5840;
		font-size: 1.5rem;
		margin: 1rem 0;
	}	

	&__form-group {

	}

	&__label {
		display: block;
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}



	&__textarea {
		display: block;
		border-radius: 4px;
		width: 100%;
		font-size: 1.7rem;
		border: 1px solid #E6ECF8;
		padding: 0 2rem;
	    font-size: 1.7rem;
	    font-family: 'Montserrat';
		&:focus {
			outline: none;
			border-color: $color-primary;
		}				
	}

	&__input {
		display: block;
		height: 5rem;
		border-radius: 4px;
		width: 100%;
		font-size: 1.7rem;
		border: 1px solid #E6ECF8;
		padding: 0 2rem;

		&-error {
		  border-color: #ec5840;
		}

		&:focus {
			outline: none;
			border-color: $color-primary;
		}
	}	

	&__action {
		width: 100%;
		text-align: right;
	}
}


.site-footer {
	padding: 10rem 0 3rem 0;
	background-color: $color-primary;

	&--with-clipmask {
		clip-path: polygon(72% 0, 100% 12%, 100% 100%, 100% 100%, 0 100%, 0 18%);
	}

	&__quote {
		width: 100%;
		text-align: center;
		color: #fff;
		padding: 3rem 0;
		font-size: 2.5rem;
	}	


	&__copyright {
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 2rem;	
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		vertical-align: middle;
	}
}

.site-social {
	text-align: center;
	width: 100%;
	margin: 2rem auto;
	display: flex;
	align-items: center;
	justify-content: center;

	&__list {
			
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 50%;
		border: 1px solid #fff;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		display: block;
		fill: #fff;
	}
}

.site-nav-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.site-sidebar {

	@media only screen and (max-width: $bp-medium) {	
	display: block;
	position: fixed;
	z-index: 101;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #fff;
	width: 30rem;
	transition: 0.3s ease;
    transform: translateX(100%);
    color: #3d3d3d;
    padding: 3rem 2rem;

	}

	li {

		&:not(:last-child) {
			@media only screen and (max-width: $bp-medium) {
	  			margin-bottom: 1.5rem
			}			
		}

		a {
			@media only screen and (max-width: $bp-medium) {
	  			font-size: 2.2rem;
			}				
		}
	
	} 	



    &.is-open {
    	transform: translateX(0);
    }
}

.alert {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 4px;	

    &-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;    	
    }
}

.stroke-white { stroke: #fff  }
.text-white { color: #fff }